.outerr{
    
    overflow-x: scroll;
    overflow-y: hidden;
}


.sliderr{
    position: relative;
    overflow-x: scroll;


}



.instructor-card{
    width: 250px;
    margin-right: 0px;

}

.instructor-card .img{
    width: 250px;
    height: 250px;
}